{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.1/css/all.min.css">

        <link href="{% static "bootstrap.min.css" %}" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <script src="{% static "bootstrap.bundle.min.js" %}" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/js/standalone/selectize.js" integrity="sha512-pF+DNRwavWMukUv/LyzDyDMn8U2uvqYQdJN0Zvilr6DDo/56xPDZdDoyPDYZRSL4aOKO/FGKXTpzDyQJ8je8Qw==" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/css/selectize.bootstrap4.min.css" integrity="sha512-MMojOrCQrqLg4Iarid2YMYyZ7pzjPeXKRvhW9nZqLo6kPBBTuvNET9DBVWptAo/Q20Fy11EIHM5ig4WlIrJfQw==" crossorigin="anonymous" />

        <script>
            $(document).ready(function(){
                $("select").each(function(){
                    $(this).selectize();
                });
                $(function () {
                  $('[data-toggle="tooltip"]').tooltip()
                })
            })
        </script>

        <title>{{ settings.SENIOR_GRAD_YEAR }} {{ settings.BRANDING_NAME }}</title>
    </head>
    <body>
        <a class="visually-hidden-focusable" href="#content">Skip to main content</a>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url "authentication:index" %}">{{ settings.SENIOR_GRAD_YEAR }} {{ settings.BRANDING_NAME }}</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "destinations:students" %}">Students</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "destinations:colleges" %}">Colleges</a>
                        </li>
                        {% if request.user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "profile:index" %}">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "authentication:logout" %}">Logout</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container pt-3">
            {% if messages %}
                <div class="row">
                    <div class="col">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}" role="alert">
                                <p>{{ message }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            <div id="content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>
