[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
crispy-bootstrap5 = "~=0.6"
django = "~=3.2.11"
django-bootstrap-pagination = "~=1.7.1"
django-crispy-forms = "~=1.13.0"
django-extensions = "~=3.1.5"
gunicorn = "~=20.1.0"
ipython = "~=7.31.0"
mistune = "~=2.0.2"
psycopg2 = "~=2.9.3"
pygments = "~=2.10.0"
social-auth-app-django = "~=5.0.0"
whitenoise = "~=5.3.0"

[dev-packages]
autopep8 = "~=1.6.0"
black = "==21.12b0"
coverage = "~=6.2"
django-stubs = "~=1.9.0"
flake8 = "~=4.0.1"
isort = "~=5.10.1"
mypy = "~=0.931"
pylint = "~=2.12.2"
pylint-django = "~=2.5.0"
pyyaml = "~=6.0"
typed-ast = "~=1.5.1"  # Required by black, but Pipenv doesn't pull it in correctly on 3.8
types-Markdown = "~=3.3.10"  # To avoid CI failures
types-bleach = "~=4.1.3"  # To avoid CI failures

[requires]
python_version = "3.9"
