[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
crispy-bootstrap5 = "~=0.6"
django = "~=3.2.9"
django-bootstrap-pagination = "~=1.7.1"
django-crispy-forms = "~=1.13.0"
django-extensions = "~=3.1.5"
gunicorn = "~=20.1.0"
ipython = "~=7.29.0"
psycopg2 = "~=2.9.2"
social-auth-app-django = "~=5.0.0"
whitenoise = "~=5.3.0"

[dev-packages]
autopep8 = "~=1.6.0"
black = "==21.11b1"
coverage = "~=6.1.2"
django-stubs = "~=1.9.0"
flake8 = "~=4.0.1"
isort = "~=5.10.1"
mypy = "~=0.910"
pylint = "~=2.11.1"
pylint-django = "~=2.4.4"
pyyaml = "~=6.0"
typed-ast = "~=1.5.0"  # Required by black, but Pipenv doesn't pull it in correctly on 3.8

[requires]
python_version = "3.9"
