{% extends "base.html" %}

{% block content %}
    <h2>Welcome to {{ settings.BRANDING_NAME }} {{ settings.SENIOR_GRAD_YEAR }}</h2>

    <p>
        This is intended to be a resource for:
        <ul>
            <li>the class of {{ settings.SENIOR_GRAD_YEAR }} to share its progress in the admissions process with one another.</li>
            <li>the class of {{ settings.SENIOR_GRAD_YEAR }} to share its achievements and college destinations with others.</li>
            <li>other classes as they prepare to apply for college.</li>
        </ul>
    </p>

    {% if request.user.is_authenticated %}
        {% if request.user.is_senior %}
            <p>You may add destination information by navigating to your profile.</p>
        {% endif %}
        <p>You may browse student destinations using the links above.</p>
    {% else %}
        <p>You must sign in to see student destinations.</p>
    {% endif %}

    <h3 id="important">IMPORTANT</h3>
    <p>
        THIS WEBSITE IS NOT, IN ANY WAY, AFFILIATED WITH NOR ENDORSED BY THE
        THOMAS JEFFERSON HIGH SCHOOL FOR SCIENCE AND TECHNOLOGY (TJHSST), THE
        TJHSST COMPUTER SYSTEMS LAB, FAIRFAX COUNTY PUBLIC SCHOOLS,
        OR ANY SUBSIDIARY, AFFILIATE, DEPARTMENT, OR PARTNER THEREOF.
    </p>
    <p>
        Your use of this website is subject to the terms outlined in
        version 3 of the GNU Affero General Public license; notably the terms
        that provide this software WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE; and the terms that limit the liability of
        any copyright holder(s) of this work. See the
        <a href="https://www.gnu.org/licenses/agpl-3.0.html" target="_blank">GNU Affero General Public License</a> for more details.
    </p>
    <p>
        This website is <a href="https://github.com/etnguyen03/tjdests" target="_blank">open source</a>, and is © 2021 Ethan Nguyen.
        All rights reserved.
    </p>

{% endblock %}
